<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Собаки с тобой!</title>
	<style type="text/css">
	@import url("static/css/css.css")
	</style>
</head>
<body>
    <center>
        <form method="POST" action="/map">
			<p><input type="text" placeholder="Введите широту" name="ltd">
			</p>
			<p><input type="text" placeholder="Введите долготу" name="lng">
			</p>
			<input type="submit" value="Найти кафе!">
    	</form>
    	<p><img src='static/dog_main.png' width="300" height="300"/></p>
    </center>
    <script>
		var input_ltd = document.querySelector('input[name=ltd]');
		var input_lng = document.querySelector('input[name=lng]');
		function getLocation() {
		    if (navigator.geolocation) {
		        navigator.geolocation.getCurrentPosition(savePosition);
		    } else {
		    	alert("Определение геолокации не поддерживается вашим браузером, введите данные вручную")
		    }
		}
		function savePosition(position) {
			input_ltd.value = position.coords.latitude;
			input_lng.value = position.coords.longitude; 
		}
		getLocation();
	</script>

</body>
</html>

