<!DOCTYPE HTML>
<html>
<head>
    <title> Кафе dog-friendly </title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <style type="text/css">
        @import url("static/css/bootstrap.min.css")
		table {
	    border-collapse: collapse;
	    width: 100%;
	    }

		th, td {
		    font-family: Verdana;
		    text-align: left;
		    padding: 8px;
		}

		tr:nth-child(even){background-color: #f2f2f2}

		th {
		    background-color: #4CAF50;
		    color: white;
		}
	</style>
</head>
<body>
	<div id="map" style="width: 600px; height: 400px"></div>
    <script type="text/javascript">
   		var cafes = [
			{% for cafe in cafes %}
				{ 
				longitude: {{ cafe.longitude }}, 
				latitude: {{ cafe.latitude}},
				title: "{{ cafe.name}}",
				description: "{{ cafe.description}}",
				address: "{{ cafe.address}}"
				},
			{% endfor %} 
   		];

	    ymaps.ready(init);
	    var myMap,
	    	myPlacemark;

	    function init(){     
	        myMap = new ymaps.Map("map", {
	            center: [55.753559, 37.609218],
	            zoom: 11
	        });

		    for (i = 0; i < cafes.length; i++) {
			   	myPlacemark = new ymaps.Placemark([cafes[i].latitude, cafes[i].longitude], { hintContent: cafes[i].title, balloonContent: cafes[i].description });

				myMap.geoObjects.add(myPlacemark);
			}
	    }  
	</script>
    
    {% if error %}
        <h3>{{ error }}</h3>
    {%endif%}

    <table>
        <tr>
        <td><b>Название</b></td>
        <td><b>Адрес</b></td>
        <td><b>Описание</b></td>
        </tr>

        {% for cafe in cafes %}
        
        <tr>
            <td>
                {% if cafe.name == nearest_cafe.name and cafe.address == nearest_cafe.address %}
                    <b>{{ cafe.name }}</b>
                {% else %}
                    {{ cafe.name }}
                {% endif %}

            </td>

            <td>
                {% if cafe.name == nearest_cafe.name and cafe.address == nearest_cafe.address %}
                    <b>{{ cafe.address }}</b>
                {% else %}
                    {{ cafe.address }}
                {% endif %}
            </td>

          
            <td>
                {% if cafe.name == nearest_cafe.name and cafe.address == nearest_cafe.address %}
                    <b>{{ cafe.description }}</b>
                {% else %}
                    {{ cafe.description }}
                {% endif %}
            </td>

            </tr>
        {% endfor %}

        </table>
    </body>
</html>